.b-header {
  position: sticky;
  top: 0;
  background-color: white;
}
.b-header__color {
  height: 4rem;
  padding: 0 15vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.05);
  color:black;
  font-weight: 500;
}
.b-navbar {
  position: relative;
  height: inherit;
  display: flex;
  align-items: center;
  width: 15rem;
}


@media (max-width: 1200px) {
	.b-header__color{
		padding: 0 5vw;
	}
  .b-navbar {
    width: 40vw;
  }
}

@media (max-width: 768px) {
  .b-navbar {
    width: 45vw;
  }
}

@media (max-width: 576px) {
  .b-header__color {
    height: 3rem;
  }
}