.b-button--container {
  position: absolute;
  width: 2.5rem;
  height: 25px;
  right: 0;
  z-index: 1;
  color: rgba(0, 0, 0, 0.7);
}
.b-button--cross {
  position: absolute;
  right: 1rem;
  font-weight: 500;
}
.b-button--dot {
  position: absolute;
  font-size: 2rem;
  width: 3px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.8);;
  border-radius: 100%;
  right: 0.5rem;
}
.b-button--dot__1 {
  top: 4px;
}
.b-button--dot__2 {
  top: 11px;
}
.b-button--dot__3 {
  bottom: 4px;
}

@media (min-width: 576px) {
  .b-button--container {
    display: none;
  }
}